<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <p><%=msg%></p>
        <form action="/user/created" method="post">
            <p>nome: </p>
            <input type="text" name="nome" placeholder="digite seu nome" required>
            <p>ususario: </p>
            <input type="text" name="username" placeholder="ususario" required>
            <p>senha: </p>
            <input type="password" name="password" placeholder="senha" required>
            <p>Email: </p>
            <input type="email" name="email" placeholder="eduard@gmail.com" required>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>