<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <div class="center">
        <h1><%= user.username %></h1>
        <div class="conteudo">
            <div class="dados">
                <p>Email: eduardo@gmail.com</p>
            </div>
            <hr>
            <div class="dados">
                <p>Email: eduardo@gmail.com</p>
            </div>
            <hr>
            <div class="dados">
                <p>Email: eduardo@gmail.com</p>
            </div>
            <hr>
            <div class="dados">
                <p>Email: eduardo@gmail.com</p>
            </div>
            
            
        </div>
        <a href="#"><button class="btn-exit">Sair</button></a>
    </div>
</body>
</html>