body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
}

.error {
    border: 2px solid #d41b1b;
    background-color: #df4747;
    box-sizing: border-box;
    border-radius: 10px;
    width: 40%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.success {
    border: 2px solid #2ad41b;
    background-color: #72df47;
    box-sizing: border-box;
    border-radius: 10px;
    width: 40%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.success p,
.error p {
    margin: 0;
    padding: 5px;
    color: #ffffff;
    font-size: 16px;
}

.center {
    width: 40%;
    height: fit-content;
    padding: 5px 0 30px 0;
    border-radius: 10px;
    background-color: #ffffff;
}

h1 {
    margin-left: 40px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    background-color: #ffffff;
    height: 25px;
    border-radius: 5px;
    border: 1px solid;
    margin: 10px 45px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}

.dados {
    height: 25px;
    margin: 10px 45px;
}

button {
    border: none;
    border-radius: 5px;
    width: calc(100% - 90px);
    height: 35px;
    margin: 0 45px 10px 45px;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    background-color: #52c43c;
    margin: 10px 45px;
}

.btn-sair {
    background-color: #d41b1b;
    margin-top: 10px;
}

small {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}