<% if (success_msg != "") {%>
    <div class="success">
        <p><%= success_msg %></p>
    </div>
<% }else{}%>

<% if (error_msg != "") {%>
    <div class="error">
        <p><%= error_msg %></p>
    </div>
<% }else{}%>

<% if (error != "") {%>
    <div class="error">
        <p><%= error %></p>
    </div>
<% }else{}%>