<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>teste</title>
</head>
<body>
    <h1>Formulario</h1>
    <hr>
    
    <form action="/login" method="post">
        <p>ususario: </p>
        <input type="text" name="username" placeholder="ususario">
        <p>senha: </p>
        <input type="password" name="password" placeholder="senha">
        <button type="submit">Submit</button>
    </form>

    <form action="/newuser" method="get">
    <button type="submit"> criar</button>
    </form>
</body>
</html>